/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }

  /* calculator styling */
    .calculator-layout{
        display: flex;
        flex-direction: column;
        max-width: 640px;
        margin: 0 auto;
        text-align: right;
        padding: 24px;
        border: 1px solid black;
      
      border-radius: 8px;
    }

    .result-container{
        width: 100%;
        padding: 10px 40px;
        border: 1px solid #ced8e0;
        margin-bottom: 24px;
        text-align: right;
        font-size: 2.2em;
        line-height: 1em;
      
      border-radius: 4px;
    }

    .num-layout{
        display: flex;
        margin-bottom:10px;
        justify-content: space-between;
    }

    .operator{
        flex-basis: 24%;
        font-size: 1.5em;
        text-align: center;
        padding: 24px;
        border: 1px solid #ced8e0;
        cursor: pointer;
        color: DodgerBlue;
      
      border-radius: 4px;
    }

    .num-content{
        flex-basis: 24%;
        font-size: 1.5em;
        text-align: center;
        padding: 24px;
        border: 1px solid #ced8e0;
        cursor: pointer;
      border-radius: 4px;
    }

    .equalsign{
      flex-basis: 24%;
        font-size: 1.5em;
        text-align: center;
        padding: 24px;
        border: 1px solid #ced8e0;
        cursor: pointer;
      background-color: DodgerBlue !important;
      color: white;
      border-radius: 100px;
    }

    .num-content:hover{
        background-color: #f0f0f0;
    }

/* responsive styling */
@media screen and (max-width: 513px) {
  .num-content
  {
       padding: 10px;
      font-size:1.2em;
   }
  
  .num-layout{
        margin-bottom:4px;
    }
}